<nav class="navbar backdrop has-background-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">

        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    {{ request.user }}
                </a>
                <div class="navbar-dropdown">
                    <a href="{% url 'home' %}" class="navbar-item{% if request.path == '/' %} is-active{% endif %}">
                        Dashboard
                    </a>

                    <a href="{% url 'accounts' %}" class="navbar-item{% if request.path == '/accounts/' %} is-active{% endif %}">
                        Admin<br>
                        Panel
                    </a>

                    <a href="{% url 'dataset' %}" class="navbar-item{% if request.path == '/dataset/' %} is-active{% endif %}">
                        Cardiologist's<br>
                        Panel
                    </a>

                    <a href="{% url 'add_patients' %}" class="navbar-item{% if request.path == '/add_patients/' %} is-active{% endif %}">
                        Add<br>Patient(s)
                    </a>

                    <a href="{% url 'diagnose' %}" class="navbar-item{% if request.path == '/diagnose/' %} is-active{% endif %}">
                        Diagnose<br>Patient(s)
                    </a>

                    <a href="{% url 'records' %}" class="navbar-item{% if request.path == '/records/' %} is-active{% endif %}">
                        Diagnosis<br>Record(s)
                    </a>

                    <hr class="navbar-divider">

                    <a href="{% url 'logout' %}" class="navbar-item">
                        Logout
                    </a>
                </div>

            </div>
        </div>
    </div>
</nav>